body {
    font-family: Helvetica, "Helvetica Neue", SansSerif;
}

#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#top{
    height: 135px;
    line-height: 135px;
}

#logo{
    height: 135px;
}

#footer{
    height: 100px;
    line-height: 100px;
}

#sideBox{
    padding: 18px;
}

.goldenSmall{
    width: 329px;
}

.goldenBig{
    width: 600px;
}

.wrapperPaddingRight{
    padding-right: 31px;
}

.displayInline{
    display: inline;
}

.textRight{
    text-align: right;
}

.texCenter{
    text-align: center;
}

.floatLeft{
    float: left;
}

.clearFix{
    clear: both;
}

.alignCenter{
    text-align: center;
}

.clearMargin{
    margin: 0px;
}

.clearPadding{
    padding: 0px;
}

.thinBorder{
    border: 1px black solid;
}

.contentMargin{
    margin-left: 31px;
    margin-right: 31px;
}

.contentText{
    margin-left: 31px;
}

.marginCenter{
    margin-right: auto;
    margin-left: auto;
}

.column {
    float: left;
    width: 33.33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

a:link, a:visited {
    text-decoration: none;
    text-decoration-color: black;
}

.verticalCenter {
    padding-top: 50px;
}

.verticalMenuScroll {
    width: 200px;
    height: 150px;
    overflow-y: auto;
}

.verticalMenu {
width: 200px;
}

.verticalMenu a {
background-color: #eee;
color: black;
display: block;
padding: 12px;
text-decoration: none;
}

.verticalMenu a:hover {
background-color: #ccc;
}

.verticalMenu a.active {
background-color: #4CAF50;
color: white;
}